@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* padding: 20px 100px; */
    align-items: center;
    /* position: fixed; */
    /* top: 0; */ 
    background-color: rgb(9, 57, 88);
    color: white;
}
.navigation a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    color: white;
 /* color: black; */
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    /* background: black; */
    border-radius: 6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigation_btn button{
    margin-left: 35px;
    width: 100px;
    outline-offset: 0;
    border-radius: 8px;
    background: transparent;
    border: 2px solid white;
    /* border: 2px solid black; */
    padding: 8px;
    font-size: 16px;
    color: white;
    /* color: black; */
    transition: .5s;
}
.navigation_btn button:hover{
    background-color: white ;
    /* background-color: black ; */
    color: black;
    /* color: white; */
}
.grand_parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }
.parent{
    position: relative;
    width: 400px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 6px;
    box-shadow: 0 0 30px black;
    backdrop-filter:blur(17px) ;
    /* display: none; */

}
.form{
    width: 100%;
    padding: 40px;
}
.form h2{
    font-size: 2em;
    text-align: center;
}
.box{
    width: 100%;
    border-bottom: 2px solid black;
    height: 50px;
    position: relative;
    margin: 30px 0;
}
.box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 5px;
    font-size: 1em;
    font-weight: 600;
}
.box label{
    position: absolute;
    top: 8px;
    left: 0;
    font-weight: 600;
    transition: .5s;
}
.box input:focus~label{
    top: -5px;
}
.box input:valid~label{
    top: -5px;
}
.icon{
    position: absolute;
    right: 8px;
    top: 8px;
}
.chkbox{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px 0;
    font-size: 14px;
}
.chkbox input{
    accent-color: black;
}
.chkbox label{
    font-weight: 600;   
    margin-right: 70px;
}
.chkbox a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.chkbox a:hover{
    text-decoration: underline;
}
.btn
{
    width: 100%;
    height: 40px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}
.register{
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 10px 0;
    color: black;
}
.register a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.register a:hover{
    text-decoration: underline;
}
.grand_parent_re{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.parent_re{
    /* position: relative; */
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 6px;
    box-shadow: 0 0 30px black;
    backdrop-filter:blur(17px) ;
    /* display: none; */
}
.form_register h2{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}
.re{
    padding-left: 8px;
}
.animate{
    background-color: black;
    color: white;
    padding: 2px;
    font-style: italic;
    position: absolute;
}